body, html {
	font-family: 'Slabo 27px', serif;
}

.BackgroundOrange {
	background-color: #fafafa;
	border: 5px solid #FD5F0B;
	border-radius: 6px;
	padding: 16px;
}

.BackgroundWhite {
	background-color: #ffffff;
	padding: 16px;
}

.SetOrange {
	background-color: #fafafa;
	border: 5px solid #FD5F0B;
	border-radius: 6px;
	padding: 16px;
	height: 240px;
}

.row {
	display: flex;
	justify-content: center;
}

@media (max-width: 400px){
.row {
	display: inline;
	justify-content: center;
}
}

.FlexOrange {
	background-color: #fafafa;
	border: 5px solid #FD5F0B;
	border-radius: 6px;
	padding: 16px;
	display: flex;
	justify-content: center;
}

p {
	font-size: 16px;
}

a {
	color: black;
}

img {
	max-width: 100%;
	height: auto;
}
